# imports

In [3]:
from __future__ import division

# setup matplotlib to display plots in the notebook
%matplotlib inline

# third party imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# setup display options
pd.options.display.max_rows = 200
pd.options.display.float_format = '{:,.2f}'.format
np.set_printoptions(precision=5, suppress=True)

# setup seaborn to use matplotlib defaults & styles
sns.set()
sns.set(font_scale=1.2)
sns.set_style("darkgrid", {"axes.facecolor": ".9"})
plt.style.use('fivethirtyeight')

# setup some filepaths
pwd = !pwd
pwd = pwd[0]

# read CNN vectors for products

In [19]:
prods = pd.read_csv(pwd + '/data/vectors/train.csv')

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,4086,4087,4088,4089,4090,4091,4092,4093,4094,4095
0,productimg_1445.jpg,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.61,0.00,...,0.00,0.00,0.00,2.55,0.00,1.62,1.10,0.00,0.00,0.00
1,productimg_907.jpg,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.43,0.00,...,0.00,0.00,0.62,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2,productimg_680.jpg,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,1.28,0.15,1.87,0.00,0.00,0.00,0.00
3,productimg_1836.jpg,0.00,0.00,0.00,0.00,0.00,0.00,0.28,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,1.70,0.00,0.00,0.00,1.43
4,productimg_2469.jpg,0.52,0.00,0.00,0.00,0.17,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.75

# read CNN vectors for new images

In [95]:
test_vecs = pd.read_csv(pwd + '/data/vectors/test.csv')
test_vecs.head(100)

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,4086,4087,4088,4089,4090,4091,4092,4093,4094,4095
0,test4.jpg,0.74,0.00,0.00,0.00,0.00,0.00,0.00,3.41,0.00,...,0.00,0.00,0.00,0.00,0.00,1.78,0.00,0.00,0.00,0.41
1,test3.jpg,0.00,0.00,0.00,0.00,0.00,0.00,0.64,0.00,0.00,...,0.11,0.14,0.00,0.96,1.05,2.30,0.48,0.00,0.00,0.00
2,test6.jpg,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.94,1.73,...,0.00,0.00,0.00,0.00,0.00,1.48,0.00,0.00,0.00,0.23
3,test2.jpg,0.00,0.00,0.72,0.00,0.00,0.00,0.00,2.29,0.00,...,0.00,0.00,0.00,0.69,0.00,0.00,0.00,0.00,0.64,0.93
4,test7.jpg,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,1.60,0.00,0.30,0.00,0.00,0.30,0.00
5,test8.jpg,0.00,0.00,0.00,0.00,0.00,0.00,0.00,2.19,0.00,...,0.00,1.81,0.00,6.05,0.00,1.88,0.00,0.07,0.00,0.00
6,test5.jpg,0.28,0.00,0.00,0.00,0.00,0.00,0.00,3.33,0.00,...,0.00,0.00,0.00,0.00,0.00,2.09,0.00,0.00,0.00,0.93
7,test1.jpg,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.10,...,0.00,0.00,0.00,1.56,0.00,0.00,0.00,0.00,0.62,0.00

In [100]:
test_idx = 4
test_vecs.loc[test_idx][0]

'test7.jpg'

In [101]:
test = test_vecs.loc[test_idx][1:]
test = test.reshape(len(test),1)
a = np.dot(prods.ix[:,range(1,prods.shape[1])], test)
results = pd.DataFrame(prods['Unnamed: 0'])
results['scores'] = a
results.sort_values('scores', ascending = False, inplace = True)
results.head()

/Users/alex/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:2: FutureWarning: reshape is deprecated and will raise in a subsequent release. Please use .values.reshape(...) instead

                 filename   scores
277   productimg_2305.jpg 4,530.53
2483  productimg_2902.jpg 4,471.67
3402  productimg_1396.jpg 4,431.87
1002  productimg_1369.jpg 4,392.96
2872  productimg_2335.jpg 4,392.58